body{
    margin: 0;
    padding: 0;
}
p,h3{
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
p{
    font-size: 1rem;
}
.name{
    display:block;
    margin: auto;
   

}
.names{
    text-align: center;
    width: 80%;
    padding-left: 25%;
}
.book{
    width: 20%;

}
.name,h1,h2{
    font-family:'Times New Roman' ;
}
h1,h2,p{
    padding: 0;
    margin: 0%;
}
p{
    font-size: 18px;
}

div{
   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    
}
.header{
    background-color: #170b5a89;
    position:absolute;
    width: 100%;
    transition: all 1s;
    z-index: 2;
    color: antiquewhite;
}

.header a{
    text-decoration: none;
    color: rgb(202, 199, 194);
}
.top{
    padding: .5rem;
    text-align: center;
    display: flex;
    padding-top: 1rem;
}
a img{
    height: 3rem;
    width: 3rem;
    object-fit: contain;
    border-radius: 10px;
}
.bottom{
    
    display: inline-flex;
    width: 100%;
    height:2rem;
    text-align:left;
}
.bottom .left{
    margin-left: 10px;
    width: 29%;
    

}
 .right{
    /* display: inline-flex; */
    width: 70%;

}
hr{
    padding: 0;
    margin: auto;
}
[class^="hover"] {
    width: 600px;
    height: 250px;
    background-color: #008080;
    display:none;
    position:absolute;
    
    
}

[class^='in-bottom']{
    display: inline-block;
    /* padding: 0 ; */
    width: auto;
    padding: .5rem;
    padding-bottom: 0;
    margin-top: .5rem;
    
    
}
.in-bottom-rec:hover ~.hover-recreation{
    display: block;
    background-image: url(images/);

}
.in-bottom-rest:hover~.hover-restaurant{
    display:block;
}
.in-bottom-acc:hover~.hover-accommodation{
    display: block;
}
/* body */
.cover{
    background-image: url('images/cover.webp');
    height: 80vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    
}
.cover h1{
    font-size: 4vw;
    background-color: rgba(250, 235, 215, 0.426);
    border-left: #7b68ee solid .5vw;
    padding: 1.5vw;

}
.in-message{
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
}
.message{
    padding: 0px 15vw;
    text-align: center;
    margin: 5vw;
    height: fit-content;
   
}
.message p{
    padding: 1vw;
}
.message hr{
    width: 80%;
    height: .2vh;
    background-color: #7b68ee;
}
.message h2{
    font-size: 3vw;
    padding: 2vh;
}
/* gallery */

.slider{
    width:100%;
    height:fit-content ;
    /* overflow: hidden; */
    margin-top: 5%;
    margin-bottom: 5%;
    /* position:static; */

}
.slides{
    width: 60%;
    height: 100%;
    margin: auto;
    position:relative ;

}
.slide{
    width: 100%;
    height: 100%;
    /* border: solid; */
    

}

.slide img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.prev ,.next{
    padding: 2%;
    position: absolute;
    background-color: #7b68ee99;
    /* height: 20px; */
    width: 2%;
    height: 12%;
    top: 50%;
    font-size: 2rem;
    /* z-index: 1; */

}
.prev{
    left: 0;
    border-radius: 0 15% 15% 0;
}
.next{
    right: 0;
    border-radius: 15% 0 0 15%;
}
 a{
    position: relative;
    cursor: pointer;
}
/* roomlist */
.roomlist{
    text-align: center;
}
.room{
    margin-top: 3%;
    height: 60vh;
    /* background-color: #008080; */
    /* padding: 2%; */
    display: flex;
    align-items: flex-start;
    box-shadow: 0px 0px .5vw .5vw  rgba(0,0,0,0.4);
}
.room .left{
    width: 49%;
    height: 100%;
    /* padding: 2%; */
    border-right: solid .5vw #008080;
    background-size: 100%;
    background-position: center;
    display: inline-block;
}
    @media screen and (max-width: 500px) {
        .room .left{
            width: 70%;
            height: 100%;
        }
        .room{
            height:30vh;
            
        }
        h2{
            font-size: .7rem;
        }
        h1{
            font-size: small;
        }
        [class^='in-bottom']{
            display: inline-block;
            /* padding: 0 ; */
            width: auto;
            padding: .1rem;
            padding-bottom: 0;
            margin-top: .1rem;
            
            
        }
        div.right p{
            font-size: .5rem;
        }
        
        .slider{
            width:100%;
            height:fit-content ;
            /* overflow: hidden; */
            margin-top: 5%;
            margin-bottom: 5%;
            /* position:static; */
        
        }
        br{
            font-size: smaller;
        }
        p{
            font-size: .7rem;
        }
        a img{
            height: 1.5rem;
            width: 1.5rem;
            object-fit: contain;
            border-radius: 10px;
        }
        .header p{
            font-size:small;
        }
        body{
            /* overflow: hidden; */
        }
        .in-left{
            padding: 2%;
            background-color: #00808099;
            border-left: solid rgb(210,96,148) 3px;
            margin-top: 50%;
        
        }
        .map{
            width: 100%;
            height: 50%;
            padding: 0%;

            margin-bottom: 0;
        }
        .forrm{
            padding: .1rem;
            margin: 0;
        }
        .prev,.next{
            font-size: 1rem;
        }
        div.names{
            padding-left: 40%;
        }
        div.beach{
            height: 35vh;
        }
        div.beach h2{
            font-size: 2rem;
        }
        div.text{
           
            margin-top: 20px;
        }
        div.text h2{
            font-size: small;

        }

        h1.in-left{
            margin-top: 5rem;
        }
        button.explore{
            font-size: .8rem;
            height: 3vh;
            padding: 3%;
        }
        div.cover{
            height:30vh;
        }
        div.header{
            height: 10vh;
        }
        div.top{
            height: 5vh;
            padding-bottom: 0px;
            
        }
        div.book p{
            font-size: .5rem;
        }
        div.bottom{
            height: 40px;
            margin-bottom: 0;
        }
        div.footer p{
            text-indent: .5rem;
            font-size: small;
          }
          div.footer-img{
            width: 100%;
          }
          div.footer-img .img-logo{
            width: 1.5rem;
            height: 2rem;

          }
          fieldset.line--{
            display: block;
          }
          div#form.form{
            padding: 0;
            border: 0;
          }


    
}

.in-left{
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 2%;
    background-color: #00808099;
    border-left: solid rgb(210,96,148) 3px;
    margin-top: 20%;

}
.explore{
    /* height: 50px; */
    padding: 2%;
    background-color: #008080;
    font-family: 'Times New Roman', Times, serif;
}
.room .right{
    width: 50%;
    padding: 2% ;
    display: inline-block;
    text-align: center;
    height: 100%;
    background-color: white;
    
}

.strip{
    width: 80%;
    display: flex;
    height: 20vh;
    text-align: center;
    margin: auto;
}
.instrip{
    height: 10vh;
    width:10vh;
    margin: auto;
}
.instrip img{
    height: 100%;
    width:100%;
    object-fit: contain;
}
/* form */

.booking-form {
    width: 70%;
    margin: 0 auto;
    padding: 2rem;
    /* background: #fff; */
  }
  .div{
    display: flex;
    margin: auto;
  }
  .div .lined{
    margin: auto;
  }
  .form {
    padding: 2.5rem;
    /* max-height: 500px; */
    /* overflow-y: auto; */
    width: 75%;
    margin: auto;
    border: solid #007bff 3px;
    border-radius: 5%;
  }
  
  .set {
    margin-bottom: 1rem;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: .6rem;
    border: 1px solid #ccc;
    border-radius: 5%;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 1% 2%;
    border-radius: 10%;
    cursor: pointer;
  }
  [class^="line"]{
    display: flex;
    padding: 0;
    border: 0;
    padding-bottom: 1rem;
    width: 100%;
    
  }
  .lined{
    width: 35%;
    display: block;
    margin: auto;
  }
  .sets{
    width: 45%;
    margin: auto;
  }
  .virtual-tower{
    height: fit-content;
  }
  .vid{
    display: flex;
    margin: auto;
  }
  .vid video{
    width: 30%;
    margin: auto;
  }
  .forrm{
    padding: .5rem;
    background-color: #00808099;
    color: black;

  }
  a{
    text-decoration: none;
  }
  a:visited{
    color: black;
  }
  .header a{
    color: antiquewhite;
  }
  /* footer */
  .footer{
    display: flex;
    text-align: center;
    background-color: #140952;
    margin: 0;
    padding: 0;
  }
 

  .in-footer{
    width: 48%;
    height: inherit;
    padding: 1rem;
    /* background-color:#00808047; */
    margin: auto;
    text-align: left;
    color: antiquewhite;
    
  }
  .footer p{
    text-indent: 1rem;
    font-size: larger;
  }
  .footer a{
    color: #7b68ee;
    position: relative;
  }
  .footer-img{
    display: flex;
   
    width: 65%;
  }
  .img-logo{
    height: 3rem;
    width: 3rem;
    margin: auto;
    background-color: rgba(250, 235, 215, 0.228);
    padding: .1rem;
    border-radius: 10%;

  }
  .img-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
 a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #352499;
    transition: width 1s;
}

 a:hover::after {
    width: 100%;
    text-indent: 1rem;
}
.header a::after,.footer a::after{
    background-color: antiquewhite;
}
button{
    font-size: larger;
}
/* recreation */
.beach{
    width: 100%;
    height: 80vh;
    background-image: url(images/beach.webp);
    background-position: center;
    /* position: absolute; */
    background-size: 100%;
    padding: 1rem;
}
.beach .text{
   
    padding: 1rem;
    width: 30%;
    height: fit-content;
    /* position: relative; */
    
    font-size: larger;
    color: antiquewhite;
}
/* restaurant */
.food{
    display: flex;
    padding: 0px 1rem;
    margin: 0px auto;
    
}
.food .pic{
    width: 500px;
    height: 300px;
    margin: 10px auto;
    padding: 5px;
}
.pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
